@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/custom.css" rel="stylesheet" />
<link href="~/css/dashboard.css" rel="stylesheet" />
<div id="dash-div" @*style="background-color:#456778;color:black"*@>
    <h1>Dashboard</h1>
</div>
<div id="std-div" class="main-div">
    <h3>Students Detail</h3>
</div>
<div id="teachers-div" class="main-div">
    <h3>Teachers Detail</h3>
</div>
<div id="admin-div" class="main-div">
    <h3>Admin Detail</h3>
</div>
<div> <h1>.net6 && MVC Class</h1></div>
